<div class="footer bg-primary">
    <div class="container">
        <div class="d-flex justify-space-between align-items-center sm-justify-end mb-7">
            <ul class="footer-menu d-flex sm-d-none">
                <li><a class="text-light mr-12" href="index.html">首頁</a></li>
                <li><a class="text-light mr-12" href="product.html">系列鏡框</a></li>
                <li><a class="text-light mr-12" href="#">門市據點</a></li>
                <li><a class="text-light mr-12" href="#">部落格</a></li>
                <li><a class="text-light" href="#">常見問題</a></li>
            </ul>
            <ul class="d-flex">
                <li><a href="#"><img class="social-link mr-8 mr-md-4" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png" alt="FB Link"></a></li>
                <li><a href="#"><img class="social-link mr-8 mr-md-4" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png" alt="IG Link"></a></li>
                <li><a href="#"><img class="social-link" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png" alt="LINE Link"></a></li>
            </ul>
        </div>
        <ul class="contact-info pb-8 pb-sm-5 mb-8 mb-sm-5">
            <li class="mb-2 mt-sm-justify"><a href="tel:0800000000"><span class="material-symbols-outlined contact-info-item text-light mr-4 mr-sm-2">call</span><span class="text-light contact-info-item">0800-000-000</span></a></li>
            <li><a href="mailto:glasses@business.com"><span class="material-symbols-outlined contact-info-item text-light mr-4 mr-sm-2">mail</span><span class="text-light contact-info-item">glasses@business.com</span></a></li>
        </ul>
        <div class="d-flex justify-space-between sm-d-block">
            <p class="text-light mb-sm-2">Copyright © 2023 Glasses. All rights reserved.</p>
            <ul class="footer-policy d-flex sm-d-block">
                <li><a class="text-light mr-12 mb-sm-2" href="#">隱私權政策</a></li>
                <li><a class="text-light" href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</div>