//格線系統
//欄寬
.col-1 {
    width: 8.333%;
}

.col-2 {
    width: 16.666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333%;
}

.col-5 {
    width: 41.666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333%;
}

.col-8 {
    width: 66.666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333%;
}

.col-11 {
    width: 91.666%;
}

.col-12 {
    width: 100%;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-10 {
        width: 83.333%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .col-sm-4 {
        width: 100%;
    }

    .col-sm-2 {
        width: 50%;
    }
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
}

//spacing
//margin-bottom
.mb-1 {
    margin-bottom: 4px;
}

// 設定一個間距最大值的變數
$max: 20;

@for $i from 0 through $max {
    // $i 是代表數字的變數
    // $i from 0 through $max 代表會設定出 0~$max，也就是 0~10 的數字
    // 最後就會編譯出 .mb-1 ~ .mb-20 共十種間距數值的 margin-bottom
    .mb-#{$i} {
    margin-bottom: $i * 4px;
    }
}

@media (max-width: 768px) {
    @for $i from 0 through $max {
        .mb-md-#{$i} {
        margin-bottom: $i * 4px;
        }
    }
}

@media (max-width: 576px) {
    @for $i from 0 through $max {
        .mb-sm-#{$i} {
        margin-bottom: $i * 4px;
        }
    }
}

//margin-right
.mr-1 {
    margin-right: 4px;
}

$max: 20;

@for $i from 0 through $max {
    .mr-#{$i} {
        margin-right: $i * 4px;
    }
}

@media (max-width: 768px) {
    @for $i from 0 through $max {
        .mr-md-#{$i} {
            margin-right: $i * 4px;
        }
    }
}

@media (max-width: 576px) {
    @for $i from 0 through $max {
        .mr-sm-#{$i} {
            margin-right: $i * 4px;
        }
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

//padding
.p-1 {
    padding: 4px;
}

$max: 20;

@for $i from 0 through $max {
    .p-#{$i} {
        padding: $i * 4px;
    }
}

//padding-bottom
.pb-1 {
    padding-bottom: 4px;
}

$max: 20;

@for $i from 0 through $max {
    .pb-#{$i} {
    padding-bottom: $i * 4px;
    }
}

@media (max-width: 768px) {
    @for $i from 0 through $max {
        .pb-md-#{$i} {
        padding-bottom: $i * 4px;
        }
    }
}

@media (max-width: 576px) {
    @for $i from 0 through $max {
        .pb-sm-#{$i} {
        padding-bottom: $i * 4px;
        }
    }
}