.navbar {
    padding: 16px 0;
    @include pad {
        padding-bottom: 0;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        @include pad {
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;
        }
    }

    &-logo {
        display: block;
        width: 80px;
        height: 48.57px;
        background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        @include pad {
            margin: 0 0 16px 16px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    @include pad {
        flex-wrap: wrap;
    }

    &-item {
        height: 100%;
        @include pad {
            width: 50%;
            margin-right: 0px;
            border: 1px solid $light;
        }
        &:last-child .menu-link {
            padding-right: 0;
        }
    }

    &-link {
        height: 100%;
        display: block;
        font-size: 20px;
        color: $light;
        padding: 8px 32px;
        @include pad {
            font-size: $h6-font-size;
            text-align: center;
            padding: 12px 0;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}